<div class="palm-header truncating-text" id="updateTitle"></div>
<div class="palm-header-spacer"></div>
<center><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R2JN6AUDPYHGU"><img src="images/donate.gif"></img></a></center>
<div class="palm-body-text">
	<div id="info"></div>
	<div class="center" id="footer"></div>
</div>
<center><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R2JN6AUDPYHGU"><img src="images/donate.gif"></img></a></center>
<div x-mojo-element="Button" id="downloadButton"></div>
<div x-mojo-element="Button" id="closeButton"></div>
