*.ipk
*.swp
*.eg
.svn/
*.swp
*.swo
*.swn
*.eg
*.tmp
*~
*.o
*.log
*.a
*.status
.svn
ehthumbs.db
Thumbs.db
TODO.txt
Release ARM Pre-Veer
Release ARM Pixi
Debug Emulator
Debug ARM Pre-Veer
Debug
	