<div class="palm-hasheader">
	<div class="palm-header" id="headerTitle">
		Location
	</div>
</div>

<div class="palm-header-spacer"></div>

<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class='palm-row first'>
			<div class="label right" id="longitudeLabel">Longitude</div>				
			<div class="title left" id="longitudeValue"></div>
		</div>
		<div class="palm-row last">
			<div class="label right" id="latitudeLabel">Latitude</div>				
			<div class="title left" id="latitudeValue"></div>			
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="getLocationButton"></div>
<div x-mojo-element="Button" id="sendLocationButton"></div>


