<!-- <div class="palm-hasheader">
<div class="palm-header" id="header">
<div id="headerTitle" style="line-height: 18px; margin-top: 5px;">
</div>
<div style="font-size: 14px; margin-top: -14px;" id="selectedCount">
</div>
</div>
</div> -->
<div class="palm-header-spacer">
</div>
<div class="palm-group unlabeled" id="selectMessageGroup" style="display:none">
    <div class="preview contact-status" id="selectmessage">
    </div>
</div>
<div class="palm-list palm-row-single">
    <div x-mojo-element="List" id="messageList">
    </div>
</div>
<div class="palm-list">
    <div x-mojo-element="FilterList" id="chatsList">
    </div>
    <div class="scene-footer-spacer">
    </div>
</div>
<div class="scene-footer" id="footer">
    <div class="palm-row">
        <div class="palm-row-wrapper  textfield-group focused">
            <div class="subtitle timer-text" id="timer-text">
            </div>
            <div class="title">
                <div class="icon right empty">
                    <div class="stuck sendButton" x-mojo-focus-highlight="inmediate">
                    </div>
                </div>
                <div class="icon left empty" id="emoticon-Button">
                    <div class="stuck emoticonButton" x-mojo-focus-highlight="inmediate">
                    </div>
                </div>
                <div x-mojo-element="TextField" id="messageText" class="messageTextWidget">
                </div>
            </div>
        </div>
    </div>
</div>
