<div class='palm-row multi-line' x-mojo-tap-highlight="momentary">
	<div class='palm-row-wrapper'>
		<div class="chat-list-icon #{iconFormatted} icon left"></div>
		<div class="label right">#{timeFormatted}</div>
		<div class="list-unread-container icon right">
			<div class="list-unread#{unreadBoolFormatted}">#{unreadFormatted}</div>
		</div>
		<div class="title truncating-text" style="padding: 0 0 0 0">#{-chatNameFormatted}</div>		
		<div class="preview truncating-text" style="padding: 0 0 0 0">
			<div class="info-container">
				<div class="status-icon #{statusIconFormatted}"></div>
				<div>#{-textMessageFormatted}</div>
			</div>
		</div>
	</div>
</div>