<div class="palm-hasheader">
	<div class="palm-header" id="headerTitle">
		Account Registration
	</div>
</div>

<div class="palm-header-spacer"></div>

<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class='palm-row first'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="label" id="ccLabel">
					CC
				</div>
				<div class="title">
					<div x-mojo-element="TextField" id="textFieldCC"></div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="label" id="mobilePhoneLabel">
					Mobile Phone
				</div>

				<div class="title">
					<div x-mojo-element="TextField" id="textFieldPN"></div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="label" id="pushNameLabel">
					Push Name
				</div>

				<div class="title">
					<div x-mojo-element="TextField" id="textFieldPushN"></div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="label" id="smsCodeLabel">
					SMS code
				</div>

				<div class="title">
					<div x-mojo-element="TextField" id="textFieldCode"></div>
				</div>
			</div>
		</div>
		<!--
		<div class="palm-row last">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="label" id="passwordLabel">
					Password
				</div>

				<div class="title">
					<div x-mojo-element="PasswordField" id="textFieldPW"></div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>

<div x-mojo-element="Button" id="codeButton"></div>
<div x-mojo-element="Button" id="codeButtonVoice"></div>
<div x-mojo-element="Button" id="registerButton"></div>
<div x-mojo-element="Button" id="loginButton"></div>

<div class="palm-group unlabeled" id="subscriptiongroup">
	<div class="palm-info-text" id="expirationinfo">Hola</div> 
	<div x-mojo-element="Button" id="deleteAccountButton"></div>
	<div x-mojo-element="Button" id="purchaseAccountButton"></div>
</div>	


